<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mujae.member.dao.MemberMapper">

	<resultMap id="MemberResultMap" type="com.mujae.member.dto.MemberDTO">
		<id property="user_code" column="USER_CODE"/>
		<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="email" column="EMAIL"/>
<!--		<result property="phone" column="PHONE"/>-->
	</resultMap>


<!--	<select id="idCheck" resultType="int">-->
<!--		select count(id) from user_info-->
<!--		where id = #{id}-->
<!--	</select>-->
<!--	&lt;!&ndash;회원가입&ndash;&gt;-->
<!--	<insert id="memberJoin" parameterType="mdto">-->
<!--		INSERT INTO user_info-->
<!--		    (ID, PWD, NAME, EMAIL, PHONE)-->
<!--		VALUES-->
<!--		    (#{id},#{pwd},#{name},#{email},#{phone})-->
<!--	</insert>-->
<!--	&lt;!&ndash;화원정보 가져오기&ndash;&gt;-->
<!--	<select id="getMember" parameterType="com.mujae.member.dto.MemberDTO" resultMap="MemberResultMap">-->
<!--		SELECT * FROM user_info-->
<!--	</select>-->
<!--&lt;!&ndash;	&lt;!&ndash;아이디찾기&ndash;&gt;&ndash;&gt;-->
<!--	<select id="searchId" parameterType="mdto" resultType="string">-->
<!--		SELECT ID FROM user_info-->
<!--		WHERE NAME= #{name} AND EMAIL=#{email}-->
<!--	</select>-->
<!--	&lt;!&ndash;비밀번호 수정&ndash;&gt;-->
<!--	<update id="updatePasswd" parameterType="mdto">-->
<!--		UPDATE user_info-->
<!--		SET PWD = #{pwd}-->
<!--		WHERE ID = #{id}-->

<!--	</update>-->
<!--	&lt;!&ndash;회원정보 수정&ndash;&gt;-->
<!--	<update id="memUpProc" parameterType="mdto">-->
<!--		UPDATE user_info-->
<!--		SET-->
<!--		    PWD  = #{pwd}-->
<!--			,EMAIL = #{email}-->
<!--			,PHONE = #{phone}-->
<!--		WHERE ID =  #{id}-->
<!--	</update>-->
<!--	&lt;!&ndash;탈퇴하기&ndash;&gt;-->
<!--	<delete id="memDelete"  parameterType="mdto">-->
<!--		DELETE-->
<!--		FROM user_info-->
<!--		WHERE ID = #{id}-->
<!--	</delete>-->

	<select id="selectUser" resultMap="MemberResultMap">
		SELECT * FROM user_info
	</select>

	<select id="getMember" parameterType="com.mujae.member.dto.MemberDTO" resultMap="MemberResultMap">
		SELECT * FROM user_info WHERE ID = #{id} AND PWD = #{pwd}
	</select>
</mapper>